# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

V1_DATABASE_URL=V1_DATABASE_URL
NODE_ENV=NODE_ENV
V1_DATABASE_URL=V1_DATABASE_URL
#DATABASE_URL="postgres://root:root@postgres/vibe-server"
DATABASE_URL=DATABASE_URL
REDIS_URL=REDIS_URL
MONGO_URL=MONGO_URL
SESSION_SECRET=SESSION_SECRET
